@model Bookland.ViewModels.UserProfileViewModel

<h1>Profilim</h1>

<div>
    <p><strong>Kullan覺c覺 Ad覺:</strong> @Model.UserName</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Telefon Numaras覺:</strong> @Model.PhoneNumber</p>
</div>
