@{
    ViewData["Title"] = "Register";
}

<h2>Kayıt Ol</h2>

<form method="post" action="/Account/register">
    <div>
        <label for="username">Kullanıcı Adı:</label>
        <input type="text" name="Username" id="username" required />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" name="Email" id="email" required />
    </div>
    <div>
        <label for="password">Şifre:</label>
        <input type="password" name="Password" id="password" required />
    </div>
    <div>
        <label for="confirmPassword">Şifreyi Onayla:</label>
        <input type="password" name="ConfirmPassword" id="confirmPassword" required />
    </div>
    <button type="submit">Kaydol</button>
</form>

@if (ViewBag.ErrorMessage != null)
{
    <div style="color:red;">
        @ViewBag.ErrorMessage
    </div>
}
