<link rel="stylesheet" href="/css/profile.css">
<div class="profile-container">

<h2 class="profile-header">Hakkımızda</h1>

    <h2>
        <br>
        Merhabalar biz Bookland ailesiyiz. 
        2014'te kurulan online ticaret platformumuz ile birlikte yıllardan gelen deneyimimizle sizlerin kitap temin etmesine olanak sağlıyoruz. 
        En büyük misyonumuz sizlerin sevdiğiniz kitaplara daha çabuk ulaşıp keyifle okumanız. 
        Bizleri sosyal medya hesaplarımızdan takip edebilirsiniz.
        Siz Bookland sayfamızı etiketleyip paylaşın biz de sizin paylaştıklarınızı hikayemize alalım!
    </h2>

    <div class="profile-details">
        <br>
      <strong> Bookland - İnsanları Kitaplarla Buluşturan Diyar </strong>
    </div>
</div>