<!-- Create.cshtml -->

@model Bookland.Models.Product

@{
    ViewData["Title"] = "Add New Book";
}

<h2>Add New Book</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Title">Book Title</label>
        <input type="text" class="form-control" id="Title" name="Title" required />
    </div>

    <div class="form-group">
        <label for="Author">Author</label>
        <input type="text" class="form-control" id="Author" name="Author" required />
    </div>
    <div class="form-group">
        <label for="Price">Price</label>
        <input type="text" class="form-control" id="Price" name="Price" required />
    </div>

    <div class="form-group">
        <label for="ProductCategoryID">Category</label>
        <select class="form-control" id="ProductCategoryID" name="ProductCategoryID" required>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.ProductCategoryID">@category.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="ImageUrl">Image URL</label>
        <input type="text" class="form-control" id="ImageUrl" name="ImageUrl" />
    </div>

    <button type="submit" class="btn btn-primary">Add Book</button>
</form>
